.x-button-find{
    background-color:white !important;
    border-bottom:1px solid #eee !important;
    
}
.x-button-find .x-button-label{
    text-align:left;
    padding-left:20px;
    font-weight:normal !important;
}
.x-list-groupadd .x-list-item.selected-item.x-list-item-tpl{
    /*background-color:#F7F7F7 !important;*/
    background-image:none !important;
    color:#000;
    border-top-color:#4cff00;
    /*background-color:red !important;*/
    
}